* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: helveticaneue;
  src: url(helveticaneue.woff);
}

.navbar {
  z-index: 1 !important;
}

.navbar-background {
  /* color: #ffffff; */
  background-color: #0e163d;
}
.navbar-light .navbar-brand {
  color: rgb(247 244 244 / 90%) !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #e9ecef !important;
}

.navbar-toggler {
  background-color: #f8f9fa !important;
}

.logo-background {
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 2;
  background-color: #fecc0b;
  padding-top: 40px;
  width: 85px;
  /* height: 120px; */
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-bottom: 50px;
}
.logo {
  background: #0e163d;
  margin-bottom: 0%;
  border-radius: 50%;
  color: #efede9;
  padding: 20px;
}

.result {
  border: 1px;
  border-radius: 10px;
  margin-left: 70px;
}
@media screen and (max-width: 480px) {
  .result {
    margin-left: 0px;
    padding: 20px;
  }
  .logo-background {
    display: none;
  }
  .graph {
    /* display: none; */
    padding: 0px;
  }
}
/* 0e163d */
